<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="localhost" connectionString="data source=PH03N1XR4V4N-PC\DBLABS;initial catalog=MyPortal;persist security info=True;user id=app_login;password=ph03n1xr4v3n;MultipleActiveResultSets=True;App=TarkOrm"/>
  </connectionStrings>
</configuration>
